html {
  overflow: auto;
}

.hero img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.hero-body #clock {
  font-size: 80px;
}

.navbar,
.navbar .notification {
  background-color: transparent;
}

.navbar .columns {
  width: 100%;
}

.navbar .button {
  background-color: transparent;
  border: none;
}

.navbar .button:focus {
  box-shadow: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
